@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<ModelComplex>//SimpleMVC.Models.SimpleExemple

@{
    ViewData["Title"] = "View";
    
}

<h2>Wykaz wszystkich osób w bazie</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr style="text-align: center">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Dochody (wszystkie)</th>
            <th>Wydatki (wszystkie)</th>
            <th>Oszczednosci (wszystkie)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var modelc in Model)
        {  <tr style="text-align: center">
                @{
                    var dochodyAll = modelc.Income.Wyplata + modelc.Income.DodatkowaPraca + modelc.Income.Renta + modelc.Income.Wynajem;
                    var wydatkiAll = modelc.Spending.Rachunki + modelc.Spending.Lekarstwa + modelc.Spending.Jedzenie + modelc.Spending.Wakacje +
                    modelc.Spending.Kredyty + modelc.Spending.Nieoczekiwane;
                    var savingsAll = modelc.Saving.Inwestycje + modelc.Saving.Lokaty + modelc.Saving.Obligacje + modelc.Saving.Kieszonkowe +
                    modelc.Saving.NaPrzyszłość;
                }
                <td>@modelc.Person.Id</td>
                <td>@modelc.Person.FirstName</td>
                <td>@modelc.Person.LastName</td>
                <td>@modelc.Person.Age</td>
                <td>
                       @dochodyAll
                </td>
                <td>
                        @wydatkiAll
                </td>
                <td>
                        @savingsAll
                </td>
                <td>
                   <a asp-action="Details" asp-route-id="@modelc.Person.Id" class="btn btn-outline-primary">Podgląd</a>
                 </td>
            </tr>
        }        
    </tbody>
</table>
@*


<div>
    @Html.ActionLink("Deatils", "Details", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Details" asp-controller="Home">Back to List</a>
</div>
*@