@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<ModelComplex>//SimpleMVC.Models.SimpleExemple

@{
    ViewData["Title"] = "View";
    
}

<h1>View</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Dochody (wszystkie)</th>
            <th>Wydatki (wszystkie)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var modelc in Model)
        {  <tr>
                <td>@modelc.Person.Id</td>
                <td>@modelc.Person.FirstName</td>
                <td>@modelc.Person.LastName</td>
                <td>@modelc.Person.Age</td>
                <td>@modelc.Income.Wypłata+ @modelc.Income.DodatkowaPraca + @modelc.Income.Renta </td>
                <td>@modelc.Spending.Rachunki + @modelc.Spending.Lekarstwa + @modelc.Spending.Jedzenie + @modelc.Spending.Wakacje + @modelc.Spending.Kredyty + @modelc.Spending.Nieoczekiwane </td>
                <td>@modelc.Saving.Inwestycje + @modelc.Saving.Lokaty + @modelc.Saving.Obligacje + @modelc.Saving.Kieszonkowe + @modelc.Saving.NaPrzyszłość </td>
                <td>
                   <a asp-action="Details" asp-route-id="@modelc.Person.Id" class="btn btn-outline-primary">Podgląd</a>
                 </td>
            </tr>
        }        
    </tbody>
</table>
@*


<div>
    @Html.ActionLink("Deatils", "Details", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Details" asp-controller="Home">Back to List</a>
</div>
*@