@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 @model SimpleMVC.ViewModels.HomeViewModelOne




<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="sekcja1">
                @{




                    <h1>  @Model.Imie to twój dochód </h1>

                }

                <p>50000</p>

            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="sekcja2">

                <h1>@Model.Imie Twóje oszczędności to: </h1>


                <p>5600</p>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-lg-4 " >

            
                <div class="dodatkowe-przyciski1" id="dodatkowePrzyciski1" style="display: none;">
                    <button class="przyciskDodatkowy1" onclick="wybierzOpcje('+ Dodaj wydatek 1'); zobaczFormularzZwykly()">+zwykły wydatek</button>
                    <button class="przyciskDodatkowy1" onclick="wybierzOpcje('+ Dodaj wydatek 2');  zobaczFormularzStaly()">+stały wydatek</button>
                </div>
                <button class="przycisk1" type="text" id="przyciskWydatek" onclick="pokazDodatkowePrzyciski('dodatkowePrzyciski1', 'przyciskWydatek')">+ Dodaj wydatek</button>
        </div>
        <div class="col-12 col-lg-4 ">
            <div class="dodatkowe-przyciski2" id="dodatkowePrzyciski2" style="display: none;">
    <button class="przyciskDodatkowy2" onclick="wybierzOpcje('+ Dodaj przychod 1'); zobaczFormularzZwyklyPrzychod()">+dodatkowy przychód</button>
    <button class="przyciskDodatkowy2" onclick="wybierzOpcje('+ Dodaj przychod 2'); zobaczFormularzStalyPrzychod()">+stały przychód</button>
    </div>
    <button class="przycisk2" type="text" id="przyciskPrzychod" onclick="pokazDodatkowePrzyciski('dodatkowePrzyciski2', 'przyciskPrzychod')">+ Dodaj przychód</button>

        </div>
        <div class="col-12 col-lg-4 ">

                <div class="dodatkowe-przyciski3" id="dodatkowePrzyciski3" style="display: none;">
                    <button class="przyciskDodatkowy3" onclick="wybierzOpcje('+ Dodaj oszczednosc 1');  zobaczFormularzZwyklaOszczednosc()">+dodatkowa oszczędność</button>
                    <button class="przyciskDodatkowy3" onclick="wybierzOpcje('+ Dodaj oszczednosc 2'); zobaczFormularzStalaOszczednosc()">+stała oszczędność</button>
                </div>
                <button class="przycisk3" type="text" id="przyciskOszczednosc" onclick="pokazDodatkowePrzyciski('dodatkowePrzyciski3', 'przyciskOszczednosc')">+ Dodaj oszczędności</button>


            </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="formularzZwyklyWydatek" class="formularz" style="display: none;">
                <form id="formZwyklyWydatek">



                   
                    <label for="nazwaZwyklegoWydatku">Nazwa wydatku:</label>
                    <select id="nazwaZwyklegoWydatku" name="nazwaZwyklegoWydatku" required>
                        <!-- Dodaj opcje do wyboru -->
                        <option value="opcja1">Zakupy spożywcze</option>
                        <option value="opcja2">Restauracja</option>
                        <option value="opcja3">Bilety na koncert</option>
                        <option value="opcja4">Naprawa samochodu</option>
                        <option value="opcja5">Prezenty</option>
                       
                        <!-- Dodaj więcej opcji według potrzeb -->
                    </select>
                    <br>

                    <label for="ileZwyklegoWydatku">Ilość:</label>
                    <input type="number" id="ileZwyklegoWydatku" name="ileZwyklegoWydatku" required>
                    <br>

                    <label for="dataZwyklegoWydatku">Data:</label>
                    <input type="date" id="dataZwyklegoWydatku" name="dataZwyklegoWydatku" required>
                    <br>

                    <button type="button" onclick="zapiszZwykly()">Zapisz zwykły wydatek</button>
                </form>
            </div>

            <div id="formularzStalyWydatek" class="formularz" style="display: none;">
                <form id="formStalyWydatek">
                    <label for="nazwaStalegoWydatku">Nazwa wydatku:</label>
                    <select id="nazwaStalegoWydatku" name="nazwaStalegoWydatku" required>
                        <!-- Dodaj opcje do wyboru -->
                        <option value="opcja1">Czynsz</option>
                        <option value="opcja2">Kredyt</option>
                        <option value="opcja3">Abonament</option>
                        <option value="opcja4">Raty</option>
                        <option value="opcja5">Ubezpieczenie</option>
                        
                        <!-- Dodaj więcej opcji według potrzeb -->
                    </select>
                    <br>

                    <label for="ileStalegoWydatku">Ilość:</label>
                    <input type="number" id="ileStalegoWydatku" name="ileStalegoWydatku" required>
                    <br>

                    <label for="kiedyStalegoWydatku">Jak często ma  być pobierane?:</label>
                    <select id="kiedyStalegoWydatku" name="kiedyStalegoWydatku" required>

                        <option value="kiedy1">Miesiecznie</option>
                        <option value="kiedy2">Rocznie</option>
                        

                    </select>
                    <br>

                    <label for="dataStalegoWydatku">Data:</label>
                    <input type="date" id="dataStalegoWydatku" name="dataStalegoWydatku" required>
                    <br>

                    <button type="button" onclick="zapiszStaly()">Zapisz staly wydatek</button>
                </form>
            </div>

            <div id="formularzZwyklyPrzychod" class="formularz" style="display: none;">
                <form id="formZwyklyPrzychod">
                    <label for="nazwaZwyklegoPrzychodu">Nazwa przychodu:</label>
                    <select id="nazwaZwyklegoPrzychodu" name="nazwaZwyklegoPrzychodu" required>
                        <option value="opcja1">Premia</option>
                        <option value="opcja2">Bonus</option>
                        <option value="opcja3">Dodatek</option>
                        <option value="opcja4">Sprzedaż</option>
                        <option value="opcja5">Honorarium</option>
                    </select>
                    <br>

                    <label for="ileZwyklegoPrzychodu">Ilość:</label>
                    <input type="number" id="ileZwyklegoPrzychodu" name="ileZwyklegoPrzychodu" required>
                    <br>

                    <label for="dataZwyklegoPrzychodu">Data:</label>
                    <input type="date" id="dataZwyklegoPrzychodu" name="dataZwyklegoPrzychodu" required>
                    <br>

                    <button type="button" onclick="zapiszZwyklyPrzychod()">Zapisz zwykły przychód</button>
                </form>
            </div>

            <div id="formularzStalyPrzychod" class="formularz" style="display: none;">
                <form id="formStalyPrzychod">
                    <label for="nazwaStalegoPrzychodu">Nazwa przychodu:</label>
                    <select id="nazwaStalegoPrzychodu" name="nazwaStalegoPrzychodu" required>
                        <option value="opcja1">Pensja</option>
                        <option value="opcja2">Emerytura</option>
                        <option value="opcja3">Dochód z Nieruchomości</option>
                        <option value="opcja4">Wynajem</option>
                        <option value="opcja5">Inwestycje</option>
                    </select>
                    <br>

                    <label for="ileStalegoPrzychodu">Ilość:</label>
                    <input type="number" id="ileStalegoPrzychodu" name="ileStalegoPrzychodu" required>
                    <br>

                    <label for="kiedyStalegoPrzychodu">Jak często ma  być pobierane?:</label>
                    <select id="kiedyStalegoPrzychodu" name="kiedyStalegoPrzychodu" required>
                        <option value="kiedy1">Miesięcznie</option>
                        <option value="kiedy2">Rocznie</option>
                        
                    </select>
                    <br>

                    <label for="dataStalegoPrzychodu">Data:</label >
                    <input type="date" id="dataStalegoPrzychodu" name="dataStalegoPrzychodu" required>
                    <br>

                    <button type="button" onclick="zapiszStalyPrzychod()">Zapisz stały przychód</button>
                </form>
            </div>

            <div id="formularzZwyklaOszczednosc" class="formularz" style="display: none;">
                <form id="formZwyklaOszczednosc">
                    <label for="nazwaZwyklejOszczednosci">Nazwa oszczędności:</label>
                    <select id="nazwaZwyklejOszczednosci" name="nazwaZwyklejOszczednosci" required>
                         <option value="opcja1">Skarbonka</option>
                        <option value="opcja2">Skrzynka Bankowa</option> 
                        <option value="opcja3">Kasa</option>
                        <option value="opcja4">Fundusz Inwestycyjny</option>
                        <option value="opcja5">Lokata</option>
                    </select>
                    <br>

                    <label for="ileZwyklejOszczednosci">Ilość:</label>
                    <input type="number" id="ileZwyklejOszczednosci" name="ileZwyklejOszczednosci" required>
                    <br>

                    <label for="dataZwyklejOszczednosci">Data:</label>
                    <input type="date" id="dataZwyklejOszczednosci" name="dataZwyklejOszczednosci" required>
                    <br>

                    <button type="button" onclick="zapiszZwyklaOszczednosc()">Zapisz zwykłą oszczędność</button>
                </form>
            </div>

            <div id="formularzStalaOszczednosc" class="formularz" style="display: none;">
                <form id="formStalaOszczednosc">
                    <label for="nazwaStalejOszczednosci">Nazwa oszczędności:</label>
                    <select id="nazwaStalejOszczednosci" name="nazwaStalejOszczednosci" required>
                        <option value="opcja1">Konto Oszczędnościowe</option>
                        <option value="opcja2">Lokata</option>
                        <option value="opcja3">Obligacje</option>
                        <option value="opcja4">Fundusz Inwestycyjny</option>
                        <option value="opcja5">IKE</option>
                    </select>
                    <br>

                    <label for="ileStalejOszczednosci">Ilość:</label>
                    <input type="number" id="ileStalejOszczednosci" name="ileStalejOszczednosci" required>
                    <br>

                    <label for="kiedyStalejOszczednosci">Jak często ma być pobierane?:</label>
                    <select id="kiedyStalejOszczednosci" name="kiedyStalejOszczednosci" required>
                        <option value="kiedy1">Miesięcznie</option>
                        <option value="kiedy2">Rocznie</option>
                        
                    </select>
                    <br>

                    <label for="dataStalejOszczednosci">Data:</label>
                    <input type="date" id="dataStalejOszczednosci" name="dataStalejOszczednosci" required>
                    <br>

                    <button type="button" onclick="zapiszStalaOszczednosc()">Zapisz stałą oszczędność</button>
                </form>
            </div>
        </div>
    </div>


    <div class="listy1">
    
        <div class="row">
      
        <div class="col-12 col-lg-4">
            <div class="sekcja3">

                <h2>Lista wydatków</h2>

                <ul>
                    @*foreach (var wydatekStaly in Model.WydatekStaly)*@
                    
                        <li>
                            @Model.WydatekStaly.Nazwa: @Model.WydatekStaly.Wartosc
                            <div>
                                <button class="przycisk1w" onclick="editSpending('@Model.WydatekStaly.Nazwa')">Edytuj</button>
                                <button class="przycisk1w" onclick="deleteSpending('@Model.WydatekStaly.Nazwa')">Usuń</button>
                            </div>
                        </li>
                    
                </ul>


                <ul>
                    @*foreach (var wydatekZmienny in Model.WydatkiZmienne)*@
                    
                        <li>
                            @Model.WydatekZmienny.Nazwa: @Model.WydatekZmienny.Wartosc
                            <div>
                                <button class="przycisk1w" onclick="editSpending('@Model.WydatekZmienny.Nazwa')">Edytuj</button>
                                <button class="przycisk1w" onclick="deleteSpending('@Model.WydatekZmienny.Nazwa')">Usuń</button>
                            </div>
                        </li>
                    
                </ul>

            </div>
        </div>

    <div class="col-12 col-lg-4">
            <div class="sekcja4">
                <h2>Lista przychodów</h2>
                <ul>
                    @*foreach (var przychodStaly in Model.PrzychodyStale)*@
                    
                        <li>
                            @Model.PrzychodStaly.Nazwa: @Model.PrzychodStaly.Wartosc
                            <div>
                                <button class="przycisk1i" onclick="editIncome('@Model.PrzychodStaly.Nazwa')">Edytuj</button>
                                <button class="przycisk1i" onclick="deleteIncome('@Model.PrzychodStaly.Nazwa')">Usuń</button>
                            </div>
                        </li>
                    
                </ul>


                <ul>
                    @*foreach (var przychodZmienny in Model.PrzychodyZmienne)*@
                    
                        <li>
                            @Model.PrzychodZmienny.Nazwa: @Model.PrzychodZmienny.Wartosc
                            <div>
                                <button class="przycisk1i" onclick="editIncome('@Model.PrzychodZmienny.Nazwa')">Edytuj</button>
                                <button class="przycisk1i" onclick="deleteIncome('@Model.PrzychodZmienny.Nazwa')">Usuń</button>
                            </div>
                        </li>
                    
                </ul>


            </div>
        </div>

    <div class="col-12 col-lg-4">
            <div class="sekcja5">
                <h2>Lista oszczędności </h2>
                <ul>
                    @*foreach (var oszczednoscStala in Model.OszczednosciStale)*@
                    
                        <li>
                            @Model.OszczednosciStale.Nazwa: @Model.OszczednosciStale.Wartosc
                            <div>
                                <button class="przycisk1s" onclick="editSavings('@Model.OszczednosciStale.Nazwa')">Edytuj</button>
                                <button class="przycisk1s" onclick="deleteSavings('@Model.OszczednosciStale.Nazwa')">Usuń</button>
                            </div>
                        </li>
                    
                </ul>


                <ul>
                    @*foreach (var oszczednoscZmienna in Model.OszczednosciZmienne)*@
                    
                        <li>
                            @Model.OszczednosciZmienne.Nazwa: @Model.OszczednosciZmienne.Wartosc
                            <div>
                                <button class="przycisk1s" onclick="editSavings('@Model.OszczednosciZmienne.Nazwa')">Edytuj</button>
                                <button class="przycisk1s" onclick="deleteSavings('@Model.OszczednosciZmienne.Nazwa')">Usuń</button>
                            </div>
                        </li>
                    
                </ul>
            </div>
        </div>
    </div>

    </div>
    </div>
   
    
       

      
    

   
   



   
